/*---=== Landing Section ===---*/
header#home {
    width: 100%;
    height: 100vh;
    position: relative;
    min-height: 620px;
}
header#home::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: url(../images/wave.svg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
header#home > .container {
    display: flex;
    align-items: center;
}
.header-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}
.header-img-side {
    text-align: right;
}
.header-img-side img {
    width: 90%;
}
.header-txt-side h1  {
    font-size: 64px;
    font-family: var(--font-bold);
}
.header-txt-side p {
    font-size: 18px;
    margin-bottom: 50px;
}
.cta-btn {
    font-size: 16px;
    padding: 15px 35px;
    background-color: white;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
}


@media(max-width: 992px) {
    .header-txt-side h1 {
        font-size: 52px;
    }
}

@media(max-width: 600px) {
    header#home {
        height: auto;
        padding: 100px 0;
    }
    .header-txt-side {
        text-align: center;
    }
    .header-txt-side h1 {
        font-size: 45px;
    }
    .header-content-wrapper {
        grid-template-columns: 100%;
        gap: 30px;
    }
    .header-img-side img {
        width: 100%;
    }
}
/*---=== end of Landing Section ===---*/

/*---=== About Section ===---*/
section#about {
    position: relative;
    padding: 50px 0;
    font-size: 20px;
}
section#about::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/wave-2.svg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}
h2.section-title {
    font-size: 52px;
    font-family: var(--font-bold);
}

@media(min-width: 993px) {
    .just-txt {
        width: 90%;
        margin: auto;
    }
}

@media(max-width: 992px) {}

@media(max-width: 600px) {
    h2.section-title {
        font-size: 38px
    }
}
/*---=== end of About Section ===---*/

/*---=== Services Section ===---*/
section#services {
    position: relative;
    padding: 50px 0;
}
section#services::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: url(../images/wave.svg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
.services-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 50px 0 20px;
    font-size: 16px;
}
.services-block {
    box-shadow: 0 0 4px 2px rgba(241, 241, 241, 0.2);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}
.services-block img {
    width: 70px;
}
.services-block h4 {
    font-size: 26px;
    letter-spacing: -1px;
}

@media(max-width: 992px) {
    .services-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media(max-width: 600px) {
    .services-wrapper {
        grid-template-columns: 100%;
        gap: 20px;
        font-size: 14px;
    }
}
/*---=== end of Services Section ===---*/

/*---=== Testimonies Section ===---*/
section#testimonials {
    position: relative;
    padding: 50px 0;
}
section#testimonials::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/wave-2.svg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}
.testimony-block {
    display: flex;
    gap: 30px;
    align-items: center;
}
.testimonials-wrapper {
    margin: 30px auto 15px;
    width: 90%;
}
.testimony-block img {
    width: 80px;
    border-radius: 50%;
}
.testimony-block blockquote {
    border-left: 5px solid white;
    font-size: 20px;
}
.testimony-block blockquote div.testifier {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 15px;
}

@media(max-width: 992px) {}

@media(max-width: 600px) {
    .testimonials-wrapper {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .testimony-block {
        flex-direction: column;
        gap: 10px;
    }
}
/*---=== end of Testimonies Section ===---*/